
# archive and data files
*.zip
*.csv


# Files of different vensim models
*.CIN
*.VCD
*.VMF
*.VDF
*.VGD
*.vdfx
*.2mdl
*vmfx

# Python
__pycache__

# documentation builds
docs/build

# vscode
*.code-workspace


pysimgame.egg-info